/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    width: 100%;
    font-family: $beta-font-family;
    text-transform: lowercase;
    order: 2;

    @include mq(bp1) {
        @include margin-top(0);
    }

    @include mq(bp3) {
        order: 0;
        width: auto;
    }
}

    .c-nav-main__list {
        margin-bottom: 0;
        background-color: palette(color-background,x-light);
        z-index: 5;

        @include mq(bp1) {
            border-top: 1px dotted palette(color-neutral,light);
        }

        @include mq(bp3) {
            border-top: 0;

            // This is the color bar seen as background of menu
            &:after {
                content: '';
                background-color: palette(color-background,x-light);
                width: 100%;
                position: absolute;
                left: 0;
                height: 50%;
                z-index: -2;
            }

            .c-home & {
                background-color: palette(color-background);

                &:after {
                    display: none;
                }
            }
        }
    }

    .c-nav-sub__list {
        background-color: palette(color-background,light);
        z-index: 5;

        @include padding-left(2);

        @include mq(bp3) {
            float: right;

            // This is the color bar seen as background of submenu
            &:after {
                content: '';
                background-color: palette(color-background,light);
                width: 100%;
                position: absolute;
                left: 0;
                height: 50%;
                z-index: -1;
            }
        }
    }

    .c-nav-main--mobile {
        background-color: palette(color-background);
        display: none;

        &.is-visible {
            display: block;
        }
    }

    .c-nav-main__item {

        & + & {
            border-top: 1px dotted palette(color-neutral,light);
        }

        @include mq(bp3) {
            float: left;

            & + & {
                border-top: 0;
            }
        }
    }

    .c-nav-main__link {
        display: block;
        color: palette(color-gamma);
        text-decoration: none;
        font-weight: $alpha-font-weight;

        background: linear-gradient(to top, palette(color-background,light) 50%, palette(color-background, x-light) 50%);

        background-size: 100% 200%;
        background-position: left top;
        transition: all $animation-duration-beta $animation-easing-alpha;

        @include text-dimensions($alpha-font-size,1,0,.25,.25);

        @include padding-lr(.75,.75);
        @include padding-tb(.5,.5);

        @include mq(bp3) {
            @include padding-tb(1.75,1.75);
            @include padding-lr(1,1);
        }

        &:visited {
            color: palette(color-gamma);
        }

        &:hover,
        &:active {
            text-decoration: none;
            color: palette(color-beta,dark);
            background-position: left bottom;
        }

        .c-home & {
            background: linear-gradient(to bottom, palette(color-background) 50%, palette(color-background, light) 50%);
            background-size: 100% 200%;
            background-position: left bottom;
            transition: all $animation-duration-beta $animation-easing-alpha;
        }

        .c-home &:hover,
        .c-home &:active {
            background-position: left top;
        }


        .is-selected > & {
            background-color: palette(color-background,light);
            color: palette(color-alpha);
        }

        .c-nav-main--home & {
            color: palette(color-beta,dark);

            &:hover,
            &:active {
                text-decoration: none;
                color: palette(color-alpha);
                background-color: palette(color-background);
            }
        }
    }



    .c-nav-sub__link {
        background: linear-gradient(to top, palette(color-background) 50%, palette(color-background, light) 50%);
        background-size: 100% 200%;
        background-position: left top;
        transition: all $animation-duration-beta $animation-easing-alpha;

        .is-selected > &,
        &:hover,
        &:active {
            background-position: left bottom;
        }

    }

.c-nav-main-trigger {
    user-select: none;
    position: relative;
    width: 100%;

    display: block;
    color: palette(color-alpha);
    background-color: palette(color-background,light);
    border: 0;
    border-top: 1px dashed palette(color-background);
    outline: 0;

    @include padding-tb(1,1);

    .c-symbol-close {
        display: none;
    }

    &.is-active {
        .c-symbol-hamburger {
            display: none;
        }

        .c-symbol-close {
            display: inline-block;
        }
    }

    @include mq(bp3) {
        display: none;
    }
}
