/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 */

.c-logo {
    float: left;
    display: block;
    margin-bottom: 0;
    background-repeat: no-repeat;

    background-image: url('../img/svg/logo.svg');

    font-family: $beta-font-family;
    letter-spacing: -.05rem;
    text-indent: -99999px;
    width: 100%;
    background-position: center;

    @include padding-left(4.5);
    @include text-dimensions($h3-font-size,1,0,1.75,.75);

    @include mq(bp1) {
        width: auto; /* [1] */
        background-position: center left;
        text-indent: 0;

        @include padding-bottom(1.75);
    }

    @include mq(bp2) {
        @include text-dimensions($h2-font-size,1,0,1.75,1.75);
    }

    @include mq(bp4) {
        @include text-dimensions($h1-font-size,1,0,1.75,1.75);
    }


}

    .c-logo__link {
        display: block;
        color: palette(color-beta, dark);

        width: 100vw;
        max-width: 100%;

        @include mq(bp1) {
            width: auto;
        }

        &:hover,
        &:active,
        &:visited {
            color: palette(color-beta, dark);
            text-decoration: none;
        }
    }
