/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    width: 100%;
    // float: left;
    display: none;
    font-family: $beta-font-family;
    text-transform: lowercase;

    order: 2;
    @include margin-top(1);

    @include mq(bp1) {
        @include margin-top(0);
    }

    @include mq(bp3) {
        order: 0;
        display: block;
        width: auto;
        float: right;
    }

    &.is-visible {
        display: block;
    }
}

    .c-nav-main--home {
        // background-color: palette(color-background);
    }

    .c-nav-main__list {
        margin-bottom: 0;

        @include mq(bp1) {
            border-top: 1px dotted palette(color-neutral,light);
        }

        @include mq(bp3) {
            border-top: 0;
        }

        &.c-nav-sub__list {
            background-color: palette(color-background,light);
            z-index: 1;

            @include padding-left(2);

            @include mq(bp3) {
                float: right;
            }

            &:after {
                content: '';
                background-color: palette(color-background,light);
                // width: calc(100% - 4rem);
                width: 100%;
                position: absolute;
                left: 0;
                height: 50%;
                // margin-left: 2rem;
                z-index: -1;
            }
        }
    }

    .c-nav-main__item {
        & + & {
            border-top: 1px dotted palette(color-neutral,light);
        }

        @include mq(bp3) {
            float: left;

            & + & {
                border-top: 0;
                // @include margin-lr(2,0);
            }
        }
    }

    .c-nav-main__link {
        display: block;
        color: palette(color-gamma);
        text-decoration: none;
        font-weight: $alpha-font-weight;
        @include text-dimensions($alpha-font-size,1,0,.25,.25);

        @include mq(bp3) {
            @include padding-tb(1.75,1.75);
            @include padding-lr(1,1);
        }

        &:visited {
            color: palette(color-gamma);
        }

        &:hover,
        &:active {
            text-decoration: none;
            color: palette(color-beta,dark);
            background-color: palette(color-background,light);
        }

        .is-selected & {
            color: palette(color-alpha);
            background-color: palette(color-background,light);
        }

        .c-nav-main--home & {
            color: palette(color-beta,dark);

            &:hover,
            &:active {
                text-decoration: none;
                color: palette(color-alpha);
                background-color: palette(color-background);
            }
        }
    }



.c-nav-main-trigger {
    user-select: none;
    // position: absolute;
    // top: 2em;
    // right: 1em;
    // top: 0;
    // right: 0;
    position: relative;
    width: 100%;

    display: block;
    color: palette(color-alpha);
    background-color: palette(color-neutral,x-light);
    // border: 1px solid palette(color-alpha);
    border: 0;
    outline: 0;
    // border-radius: $radius;

    // @include margin-top(.5);

    @include padding-tb(1,1);

    .c-symbol-close {
        display: none;
    }

    &.is-active {
        .c-symbol-hamburger {
            display: none;
        }

        .c-symbol-close {
            display: inline-block;
        }
        // color: palette(color-neutral,x-light);
        // background-color: palette(color-alpha);
    }

    @include mq(bp3) {
        display: none;
    }
}
