/*
    Components: Definition Lists
    ---
    The style of definition lists
*/

.c-def-list {
    @include margin-tb(2,2);
    padding: 0;
}

.c-def-list__title {
    font-family: $mono-font-family;
    color: palette(color-gamma);

    @include text-dimensions($ms1);
    @include padding-top(.75);

    @include mq(bp3) {
        left: 0;
        top: 1.25rem;
        width: 6.5rem;
        text-align: right;
        line-height: 1rem;
        position: relative;
    }

    &:first-child {
        @include padding-top(0);
    }
}

.c-def-list__description {
    max-width: 36rem;

    @include padding-left(0);
    @include margin-bottom(1);

    @include mq(bp3) {
        @include padding-left(1);
        @include margin-left(7.75);
        @include padding-bottom(0);
        border-left: 1px solid palette(color-background, dark);
    }

    // & + & {
    //     @include padding-bottom(1);
    // }
}
