/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 */

.c-logo {
    float: left;
    display: block;
    width: auto; /* [1] */
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url('../img/svg/logo.svg');

    font-family: $beta-font-family;
    letter-spacing: -.05rem;
    @include padding-left(4.5);

    @include text-dimensions($h3-font-size,1,0,1.25,1.25);

    @include mq(bp2) {
        @include text-dimensions($h2-font-size,1,0,1.25,1.25);
    }

    @include mq(bp4) {
        @include text-dimensions($h1-font-size,1,0,1.25,1.25);
    }


}

    .c-logo__link {
        display: block;
        color: palette(color-beta, dark);
        // text-decoration: none;

        &:hover,
        &:active,
        &:visited {
            color: palette(color-beta, dark);
            text-decoration: none;
        }
    }
