.c-highlight {
    // border: 1px dotted palette(color-beta, dark);
    // padding: .15rem .5rem .05rem;
    background-color: palette(color-neutral, light);
    // border-top: 1px dotted palette(color-beta, dark);
    color: palette(color-beta);
    font-weight: bold;
}
