/*
    Components: Definition Lists
    ---
    The style of definition lists
*/

.c-def-list {
    @include margin-tb(2,2);
    padding: 0;
}

.c-def-list__title {
    font-family: $mono-font-family;
    @include text-dimensions($ms1);
    color: palette(color-gamma);

    @include mq(bp3) {
        left: 0;
        top: 1.25rem;
        width: 5.5rem;
        text-align: right;
        line-height: 1rem;
        position: relative;
    }
}

.c-def-list__description {
    // margin-left: 2rem;
    @include padding-left(1);
    @include margin-bottom(1);

    @include mq(bp3) {
        @include margin-left(6.75);
        @include padding-bottom(0);
        border-left: 1px solid palette(color-background, dark);
    }
}
