.c-work {
    background-color: palette(color-background);
    position: relative;

    @include mq(bp3) {
        @include padding-tb(6,2);

        & + & {
            @include padding-tb(4,2);
        }
    }

    & + &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;

        // @include mq(bp3, max) {
        border-top: 1px dashed  palette(color-background, dark);
        // }
    }
}

    .c-work__img-left {

        @include mq(bp3, max) {
            @include padding-lr(0,0);
            margin: 0;

            width: 100%;
            order: 1;
        }

        @include mq(bp3) {
            width: 50%;
            margin-left: -1rem;
            margin-right: 1rem;

        }

        @include mq(bp4) {
            margin-left: -5%;
            margin-right: 5%;
        }

        @include mq(bp5) {
            margin-left: -10%;
            margin-right: 10%;
        }

        @include mq(bp6) {
            margin-left: -15%;
            margin-right: 15%;
        }
    }

    .c-work__text-right {
        @include mq(bp3, max) {
            @include padding-lr(0,0);

            width: 100%;
            order: 0;
        }

        @include mq(bp3) {
            width: 50%;
            @include padding-lr(2,2);
        }

        @include mq(bp4) {
            margin-left: -3%;
            margin-right: 3%;
        }

        @include mq(bp5) {
            margin-left: -4%;
            margin-right: 4%;
        }

        @include mq(bp6) {
            margin-left: -7%;
            margin-right: 7%;
        }
    }



    .c-work__img-right {
        order: 2;

        @include mq(bp3, max) {
            margin: 0;
            width: 100%;
            order: 1;

            @include padding-lr(0,0);
        }

        @include mq(bp3) {
            width: 50%;
            margin-right: -1rem;
            margin-left: 1rem;
        }

        @include mq(bp4) {
            margin-right: -5%;
            margin-left: 5%;
        }

        @include mq(bp5) {
            margin-right: -10%;
            margin-left: 10%;
        }

        @include mq(bp6) {
            margin-right: -15%;
            margin-left: 15%;
        }

        // @include margin-lr(4.5,-4.5);
        // margin-left: 15%;
        // margin-right: -15%;
        //
        // @include mq(bp5, max) {
        //     @include margin-lr(4.5,0);
        //     border: 1px solid red;
        // }
    }

    .c-work__text-left {
        order: 1;

        @include mq(bp3, max) {
            @include padding-lr(0,0);

            width: 100%;
            order: 0;
        }

        @include mq(bp3) {
            width: 50%;
            @include padding-lr(2,2);
        }

        @include mq(bp4) {
            margin-right: -3%;
            margin-left: 3%;
        }

        @include mq(bp5) {
            margin-right: -4%;
            margin-left: 4%;
        }

        @include mq(bp6) {
            margin-right: -7%;
            margin-left: 7%;
        }
        // @include padding-lr(4,2);
        //
        // @include mq(bp3, max) {
        //     @include padding-lr(0,0);
        //
        //     width: 100%;
        //     order: 0;
        // }

        &.c-work__text-resume {
            width: 100%;
            order: 5;
        }
    }
