/*
Shame
---
Hacks and quick fixes
*/

.u-max-w-650 {
    width: 100%;
    max-width: 650px;
}

.c-form {
    width: 80%;
}


// Home
.c-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .c-row {
        flex: 1 auto;
    }

    .c-content {
        order: 2;
        flex: 1 100%;

        @include mq(bp3) {
            order: -1;
        }
    }
}
