/*
Shame
---
Hacks and quick fixes
*/
.c-header {
    background-color: palette(color-background,x-light);
    @include padding-lr(1,1);
    // @include padding-tb(.5,.5);

    @include mq(bp3) {
        @include padding-lr(2,2);
        // @include padding-tb(1,1);
    }
}

.c-title {
    color: palette(color-beta, dark);
}

.c-thumbnails {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.c-thumbnail {
    width: 32%;
    margin-right: 1%;

    @include mq(bp4,max) {
        width: 32%;
        margin-right: 0;

        &:not(:nth-child(3n+3)) {
            margin-right: 2%;
        }
    }
}

.c-thumbnail__wrapper {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    margin-bottom: 3%;

    &:before {
        content: "";
        position: absolute;
        border: 5px solid #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.c-thumbnail__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 3%;
    background-size: cover;
    background-position: center;
}
