/*
Shame
---
Hacks and quick fixes
*/
.c-header {
    position: relative;

    @include padding-lr(.5,.5);

    @include mq(bp1) {
        @include padding-lr(1,1);
    }

    @include mq(bp4) {
        @include padding-lr(2,2);
        // @include padding-tb(1,1);
    }


    &:after {
        content: '';
        background-color: palette(color-background,x-light);
        // width: calc(100% - 4rem);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        // margin-left: 2rem;
        z-index: -2;
    }
}




.c-wrapper {
    height: auto;
    min-height: 100%;
}

    .c-content__body,
    .u-bg-main-color {
        background-color: palette(color-background);
    }

    .c-content__body {
        position: relative;
    }


.c-card__title {
    color: palette(color-beta, dark);
    margin-bottom: 0;
}

.c-card__meta {
    margin-bottom: 1.2rem;
    color: palette(color-beta);

    ul {
        @include text-dimensions($small-font-size, $small-line-height);
        margin-bottom: 0;
    }
}

.c-card__description {
    margin-bottom: 1rem;
}



.c-thumbnails {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.c-thumbnail {
    width: 29%;
    margin-left: 3%;
    max-width: 155px;
}

.c-thumbnail__wrapper {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    margin-bottom: 10px;
    border: 7px solid #fff;

    &.u-centered-image {
        min-width: 300px;
        width: 80%;
        max-width: 1200px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 45%;
    }

    &.c-home--image {
        height: 95%;
        width: 95%;
        padding-bottom: 0;
    }
}

    .c-title {
        position: absolute;
        // right: 7.5rem;
        right: 15%;
        z-index: 10;
        color: #fff;

        @include mq(bp2, max) {
            right: 0;
            width: 100%;
            padding: 1.5rem;
        }
    }

    .c-title__name {
        margin-bottom: .5rem;
        @include text-dimensions($ms8,2.5);

        @include mq(bp2, max) {
            @include text-dimensions($ms6,2.5);
        }
    }

    .c-title__tagline {
        font-family: $gamma-font-family;
        margin-bottom: 0;
        margin-left: .25rem;

        @include mq(bp2, max) {
            @include text-dimensions($h5-font-size,1);
        }
    }

.c-thumbnail__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
    background: #fff;

    background-size: cover;
    background-position: center;

    .c-home--image &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom, rgba(0,0,0,1) 1%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,1) 99%)
    }
}
