.sass-cache
.DS_Store
_site/
css/
vendor/
bower_components/
node_modules/
npm-debug.log
.jekyll-metadata
_docroot
original_img
*.zip
img/jpg/Creation/ img/jpg/Finishing-Techniques/ img/jpg/Hand-Tools/ img/jpg/Restoration/
