---
layout: default
title: Contact
section: contact
---
<main class="c-row c-row--zero">
    <div class="o-container">

        {% for item in site.data.contact %}

            {% comment %}
                {% assign thecycle = 'even' %}

                {%
                   include components.works.html

                   paragraphs=item.paragraphs
                   images=item.images
                   resume-title=item.resume-title
                   resume=item.resume
                %}
            {% endcomment %}
            <section class="c-work o-flex o-flex--wrap o-flex--align-start">
                <div class="c-work__form-right u-1-of-2-bp4">
                    <div class="c-card c-card--beta">
                        <form action="#" method="post" class="c-form">
                            <fieldset>

                                <p>
                                    <label for="form-field-1" class="c-label">
                                        {{ item.form-fields.name | capitalize }}
                                    </label>
                                    <input id="form-field-1" type="text" class="c-input-text c-input-text--md" placeholder="{{ item.form-fields.name | capitalize }}" required />
                                </p>

                                <p>
                                    <label for="form-field-2" class="c-label">
                                        {{ item.form-fields.email | capitalize }}
                                    </label>
                                    <input id="form-field-2" class="c-input-text c-input-text--md" type="email" placeholder="email@address.com" required />
                                </p>

                                <p>
                                    <label for="form-field-3" class="c-label">
                                        {{ item.form-fields.message | capitalize }}
                                    </label>

                                    <textarea class="c-input-text c-input-text--md" id="form-field-3" rows="8" required></textarea>
                                </p>

                                <p>
                                    <input type="submit" class="c-button c-button--md c-button--alpha" value="{{ item.form-fields.button | capitalize }}" />
                                </p>
                            </fieldset>
                        </form>

                    </div>
                </div>

                <div class="c-work__text c-work__text-left u-1-of-2-bp4">
                    <div class="c-card">

                        <!-- <h2 class="c-card__title"> -->
                        <h2 class="">
                            {{ item.contact-title | capitalize }}
                        </h2>

                        <div class="">
                            <ul class="o-list">
                            {% for line in item.contact-data %}
                                <li class="o-list__item">{{ line }}</li>
                            {% endfor %}
                            </ul>
                        </div>

                        <ul class="o-list">
                            {% for field in item.fields %}
                                <li class="o-list__item">
                                    <span class="c-card__description">
                                        {{ field.type | capitalize }}: {{ field.info }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </section>


        {% endfor %}

    </div>
</main>
