---
layout: sticked-footer
title: Kenta Takeshige
section: home
---


<main class="c-row c-row--zero c-content">
    <div class="o-container">
        <div class="c-hero">

            <header class="c-hero__title">
                <h1 class="c-title-site">{{ site.title }}</h1>
                {% for line in site.description %}
                    <h3 class="c-title-tagline">{{ line }}</h3>
                {% endfor %}
            </header>

            <div class="c-hero__image">
                {% include atom.image-ratio.html

                    image='bg.jpg'
                    title=page.title
                    aria-label=page.title
                %}
            </div>


        </div>
    </div>
</main>
