---
layout: default
title: Works
section: home
---

<main class="c-row c-row--zero">
    <div class="o-container">
        <section class="c-section c-portfolio o-flex o-flex--wrap o-flex--align-center">
            <div class="c-portfolio__img c-portfolio__img-left u-1-of-2-bp4">
                <div class="c-card c-card--alpha c-card--img">
                    <p class="o-media">
                        <img src="../img/jpg/01.jpg" alt="img 1" class="o-media--img">
                    </p>
                </div>
            </div>

            <div class="c-portfolio__text c-portfolio__text-right u-1-of-2-bp4">
                <div class="c-card">
                    <h2>Opstick, opstick, opstick...</h2>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                    <p>
                        <a href="#" class="c-button c-button--alpha c-button--md">
                            Button {% include atom.symbol.html value="right" %}
                        </a>
                    </p>
                </div>
            </div>
        </section>

        <section class="c-section c-portfolio o-flex o-flex--wrap o-flex--align-center">
            <div class="c-portfolio__text c-portfolio__text-left u-1-of-2-bp4">
                <div class="c-card">
                    <h2>Opstick, opstick, opstick...</h2>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                    <p>
                        <a href="#" class="c-button c-button--alpha c-button--md">
                            Button {% include atom.symbol.html value="right" %}
                        </a>
                    </p>
                </div>
            </div>
            <div class="c-portfolio__img c-portfolio__img-right u-1-of-2-bp4">
                <div class="c-card c-card--alpha c-card--img">
                    <p class="o-media">
                        <img src="../img/jpg/01.jpg" alt="img 1" class="o-media--img">
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>
