---
layout: default
title: Works
sub-page: Restoration
section: portfolio
---
{% assign restoration = site.data.works.restoration | reverse %}

{% comment %}
{% for work in restoration %}
    <p>{{ work.title }} - {{ work.year }}</p>
{% endfor %}

{% for work in restoration limit:3 %}
{% endfor %}

{% endcomment %}
<main class="c-row c-row--zero c-row--portfolio">
    <div class="o-container">

        {% for work in restoration limit:3 %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

            {%
               include components.works.html

               title=work.title
               material=work.material
               year=work.year
               paragraphs=work.paragraphs
               images=work.images
            %}
        {% endfor %}

        {% include components.pagination.html %}


    </div>
</main>
