{% comment %}

    title
    material
    year
    paragraphs
    images

{% endcomment %}

<section class="c-work o-flex o-flex--wrap o-flex--align-center">
{% comment %}
	big images
{% endcomment %}
    {% if include.images %}
    <div class="c-work__img {% if thecycle == 'odd' %}c-work__img-left {% else %}c-work__img-right {{ include.class-flex-start }} {% endif %}u-1-of-2-bp4">
        <div class="c-card c-card--alpha c-card--img">

            {% unless include.resume %}
                {% capture first-image %}{{ include.images | first }}{% endcapture %}

                {% if include.images %}

                <div class="c-ratio__wrapper">
                    {% include atom.image-ratio.html

                        image=first-image
                        title=include.title
                        aria-label=include.title

                    %}
                </div>
                {% endif %}
            {% endunless %}

            {% if include.resume %}
                <p class="o-media">
                    <img src="{{ site.github.url }}/img/jpg/{{ include.images | first }}" alt="{{ include.title }}, {{ include.year }}" class="o-media--img{% if include.resume %} u-max-w-650{% endif %}">
                </p>
            {% endif %}

        </div>
    </div>
    {% endif %}

{% comment %}
	text / content
{% endcomment %}
    {% if include.images %}
        <div class="c-work__text {% if thecycle == 'odd' %} c-work__text-right{% else %} c-work__text-left{% endif %} u-1-of-2-bp4">
    {% else %}
        <div class="c-work__text c-work__text-left c-work__text-left-beta">
    {% endif %}

            {% assign make-expandable = false %}

            {% for paragraph in include.paragraphs %}
                {% comment %} if there is 1 paragraph, control its not bigger than 320 char, otherwise: out {% endcomment %}
                {% if include.paragraphs.size == 1 %}
                    {% if paragraph.size >= 330 %}
                        {% assign make-expandable = true %}
                        {% break %}
                    {% endif %}
                {% comment %} or if this is the third paragraph: out {% endcomment %}
                {% elsif forloop.index == 3 %}
                    {% assign make-expandable = true %}
                    {% break %}
                {% else %}
                {% comment %} lastly if its not the first paragraph, and it contains more than 300 chars: out {% endcomment %}
                    {% if forloop.index >= 1 %}
                        {% if include.paragraphs[0].size >= 200 and paragraph.size >= 100 %}
                            {% assign make-expandable = true %}
                            {% break %}
                        {% elsif paragraph.size >= 250 %}
                            {% assign make-expandable = true %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <div class="c-card{% if make-expandable == true and page.title == 'Works' %} c-card__expandable {% endif %}">

                {% if include.title %}
                <h2 class="c-card__title">{{ include.title }}</h2>
                <div class="c-card__meta">
                    <ul class="o-list">
                        {% if include.material != null %}<li class="o-list__item">Material: {{ include.material }}</li>{% endif %}
                        <li class="o-list__item">{{ include.year }}</li>
                    </ul>
                </div>
                {% endif %}

                {% if page.title == 'Works' %}
                    {% for paragraph in include.paragraphs %}
                    <p class="c-card__description">{{ paragraph }}</p>

                    {% endfor %}
                    {% if make-expandable == true %}
                    <p class="c-card__read-more">
                        <a href="#!" class="c-card__read-link js-expand">Read more...</a>
                    </p>
                    {% endif %}
                {% else %}
                    {% for paragraph in include.paragraphs %}
                        <p class="c-card__description">{{ paragraph }}</p>
                    {% endfor %}
                {% endif %}

            </div>

            {% if include.images.size > 1 and page.section != 'about' %}
            <ul class="o-list c-thumbnails">

                {% for image in include.images limit:6 %}
                    <li class="o-list__item c-thumbnail">
                        <div class="c-thumbnail__wrapper">

                            {% include atom.image-ratio.html

                                image=image
                                title=include.title
                                aria-label=include.title
                            %}
                        </div>

                    </li>
                {% endfor %}
            </ul>
            {% endif %}
    </div>

    {% comment %}
    	text / content > about
    {% endcomment %}
    {% if include.resume %}
        {% include molecules.resume.html
            resume-title=include.resume-title
            resume=include.resume
        %}
    {% endif %}


</section>
