<div class="js-nav-holder c-row c-row--zero">
    <div class="o-container c-header o-flex o-flex--wrap{% if page.section == 'home' %} o-flex--justify-end u-bg-main-color{% else %} o-flex--justify-space-between{% endif %}">
        <!-- <div class="o-grid">
            <div class="o-grid__item"> -->
            {% if page.section != 'home' %}
                {% include components.logo.html %}
            {% endif %}

            {% include components.nav-main.html %}
            <!-- </div>
        </div> -->
    </div>
</div>
