<nav class="c-nav-main o-flex o-flex--vertical">
    <ul class="o-list c-nav-main__list c-nav-main--mobile js-nav is-hidden-from-bp3">
        <!-- Define your site navigation in _config.yml -->
        {% for item in site.navigation %}

        <li class="c-nav-main__item{% if page.url contains item.url %} is-selected{% endif %}">
            <a href="{{ site.github.url }}/{{ item.url }}" class="c-nav-main__link{% if item.subpaginas %} js-{{ item.title | downcase }}-trigger{% endif %}">
                {{ item.title }}
            </a>

            <div class="c-nav-subnav js-{{ item.title | downcase }}-subitems is-hidden">
                <ul class="o-list c-nav-main__list c-nav-sub__list">
                    {% for subitem in item.subpaginas %}
                        <li class="c-nav-main__item c-nav-sub__item{% if page.url contains subitem.suburl %} is-selected{% endif %}">
                            <a href="{{ site.github.url }}/{{ subitem.suburl }}" class="c-nav-main__link c-nav-sub__link">
                                {{ subitem.subtitle }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </li>
        {% endfor %}
    </ul>

    <ul class="o-list c-nav-main__list is-hidden-until-bp3">
        {% for item in site.navigation %}

        <li class="c-nav-main__item{% if page.url contains item.url or page.title == item.title %} is-selected{% endif %}">
            <a href="{{ site.github.url }}/{{ item.url }}" class="c-nav-main__link">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% for item in site.navigation %}
        {% if item.subpaginas and page.title == item.title %}
            {% if page.title == item.title %}
            <div class="c-nav-subnav is-hidden-until-bp3">
                <ul class="o-list c-nav-main__list c-nav-sub__list">
                    {% for subitem in item.subpaginas %}
                        <li class="c-nav-main__item c-nav-sub__item {% if page.url contains subitem.suburl %} is-selected{% endif %}">
                            <a href="{{ site.github.url }}/{{ subitem.suburl }}" class="c-nav-main__link c-nav-sub__link">
                                {{ subitem.subtitle }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</nav>



<button class="c-nav-main-trigger js-nav-trigger">
    {% include atom.symbol.html value="hamburger" %} Menu
    {% include atom.symbol.html value="close" %}
</button>
