<!-- A simple polyfill that fetches external SVGs referenced in <use> elements when the browser itself fails to do so. -->
<script defer src="{{ site.github.url }}/vendor/svgxuse/svgxuse.min.js"></script>

<!-- Always Load jQuery First -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="{{ site.github.url }}/vendor/jquery/dist/jquery.min.js"><\/script>')</script>

<!-- Theme specific JavaScript. Add your other scripts here -->
<!-- <script src="{{ site.github.url }}/vendor/barba.js/dist/barba.min.js"></script> -->

<script src="{{ site.github.url }}/js/theme.concat.js"></script>
<script>

    // Barba.Pjax.start();
    // Barba.Dispatcher.on('click', function(e) {
    //     console.log(e);
    // });

</script>

{% if page.title == "Works"  %}
<script>
    function toggleReadMore(e) {
        const container = e.target.parentElement;
        const target = container.parentElement;

        target.classList.toggle('is-open');
        container.addEventListener('transitionend', hideReadMore);
    }

    function hideReadMore(e) {
        console.log(e);
        if (e.propertyName.includes('padding')) e.target.classList.add('is-hidden');
    }

    const readMoreTriggers = document.querySelectorAll('.js-expand');
    readMoreTriggers.forEach(trigger => trigger.addEventListener('click', toggleReadMore));

</script>
{% endif %}
