<!DOCTYPE html>
<html>

{% include generic.head.html %}

<body{% if page.section %} class="c-{{ page.section }}"{% endif%}>


    <!-- Deprecated browser alert -->
    {% include components.browser-alert.html %}
    <!-- End deprecated browser alert -->

    <!-- <div class="o-flex o-flex--vertical c-wrapper"> -->

        {{ content }}

        <!-- Page header -->
        {% include components.header.html %}
        <!-- End page header -->


        <!-- Footer javascript -->
        {% include generic.javascript.html %}
        <!-- End footer javascript -->
    <!-- </div> -->

</body>
</html>
